body {
    background-color: antiquewhite;
    background-image: url('https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1000px 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: scroll;
}

#complete_cnt, #confuse_cnt, #Dont_Know_cnt {
    font-style:italic;
    border-bottom: 5px dashed rgb(247, 244, 23);
    display: flex;
    justify-content: center;
}

#word_output  {
    background-color: rgba(255, 255, 255, 0.75);
    height: 70vh;
    width: 70vw;
    overflow: scroll;
    overflow-x: hidden;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#word_output > p {
    font-family: 'Courier New', Courier, monospace;
}

#choose_button  {
    height: 10vh;
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#choose_button  > button {
    background-color: rgb(244, 178, 36);
    border-radius: 40%;
    width: 20%;
    height: 100%;
}
#choose_button > button:hover  {
    background-color: green;
    border-radius: 10%;
}
#choose_button > button:active  {
    background-color: yellow;
    border-radius: 10%;
}


.hidden {
    background-color: black;
}
.hidden:active {
    animation: fadeout 7s linear;
}

@keyframes fadeout {
    10%, 90%{
        background-color: white;
    }
    0%, 100% {
        background-color: black;
    }
}

#Status_of_Word  {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: space-around;
    justify-content: space-around;
}

 
#confuse, #complete, #Dont_Know  {
    background-color: rgba(255, 255, 255, 0.75);
    height: 200px;
    width: 30vw;

    overflow: scroll;
    overflow-x: hidden;

    backdrop-filter: blur(5px);
}
#Dont_Know  > p {
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 5px dashed gray;
}
#confuse  > p {
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 5px dashed gray;
}
.Split_Line {
    border-bottom: 5px solid green;
}
#complete  > p {
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 5px dashed gray;
}

#Word {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}
#Translate {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
}
